<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%="http://source.unsplash.com/featured/?movie&#{rand(1000)}"%>;">
  <%= list.name %>
</div>
