<div class="container">

  <h1>Add a New List</h1>

  <%= simple_form_for(@list) do |f| %>
    <div class="search-form-control form-group">
      <%= f.input :name %>
      <%= f.submit class: 'btn btn-primary mt-2' %>
    </div>
  <% end %>

  <%= link_to 'Back', lists_path %>
</div>
